@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root{
  --primary-white:#fff;
  --primary-orange: #FFD500;
  --primary-dark:rgba(255,255,255,0);
}
body{
  font-family:"Roboto Condensed" sans-serif;
}

/***********Navbar*************/

nav a.nav-link{
  font-size:0.8rem;
  letter-spacing: 0.0375rem;
  cursor:pointer;
}
nav ul li{
text-transform:uppercase;
}
.navbar-nav > li > a{
  margin-right:0.75rem;
  margin-left:0.75rem;
  color:var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}
.navbar-brand{
  max-width: 17.25rem;
  Padding: 0 !important;
  height: 3rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a.hover{
  border-bottom: 0.1875rem solid var(--primary-orange);
}