@font-face {
    font-family: 'Caros Regular';
    src: url('./assets/fonts/Caros-Regular.woff') format('woff');
    }
    .caros {
    font-family: 'Caros Regular';
    }
.heading-text{
    font-size: 2.5rem;
}
.heading-text2{
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .heading-text{
        font-size: 1.5rem;
    }
    .heading-text2{
        font-size: 1rem;
    }
}